<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <span>
          <%= link_to image_tag("simplefi-logo.png", :border => 0, :width => 35, :height => 35), root_path, id: "logo" %><span class="pull-left logo-text">SimpleFi</span>
      </span>
      <nav>
        <ul class="nav pull-right">
<!--
          <li><i class="icon-home"></i><%= link_to " Home",    root_path %></li>
          <li><i class="icon-home"></i><%= link_to " Employers",    employer_path %></li>
          <li><i class="icon-envelope"></i><%= link_to " Contact Us", contact_path %></li>
          <li><i class="icon-info-sign"></i><%= link_to " About Us", about_path %></li>
-->
          <li><%= link_to "Home",       root_path %></li>
          <li><%= link_to "Employers",  employer_path %></li>
          <li><%= link_to "Contact Us", contact_path %></li>
          <li><%= link_to "About Us",   about_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>